[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Bb]uild/
[Bb]uilds/
[Uu]serSettings/
*.pidb
*.booproj
*.svd
*.userprefs
*.csproj
*.sln
*.suo
*.tmp
*.user
*.unityproj
*.DS_Store
*.pidb.meta
*.pdb.meta
*.mdb.meta
crashlytics-build.properties
Assets/AssetStoreTools*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/
